@using Microsoft.AspNetCore.Components.Web
@using asp_dotnet_getstarted.Services
@using asp_dotnet_getstarted.Models

@inject JsonProductService productService;

<div class="container">
    <div class="row row-cols-4 g-2">
        @foreach (var product in productService.GetProducts())
        {
            <div class="card col" style="width: 18rem;">
                <img class="card-img-top" src="@product.Image" alt="@product.Title">
                <div class="card-body">
                    <h5 class="card-title">@product.Title</h5>


                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <button @onclick="(e => SelectProduct(product.Id))"
                            data-bs-toggle="modal"
                            data-bs-target="#productModal"
                            class="btn btn-primary">
                            Ver mais
                        </button>
                    </small>
                </div>
            </div>
        }
    </div>
</div>

@if (selectedProduct != null)
{
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-center">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="productTitle">@selectedProduct.Title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card col text-center" style="width: 18rem;">
                        <img class="card-img-top" src="@selectedProduct.Image" alt="@selectedProduct.Title">
                        <div class="card-body">
                            <h5 class="card-title">@selectedProduct.Title</h5>
                            <div class="card-body">
                                @selectedProduct.Description
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
}

@code {
    Product? selectedProduct;
    string? selectedProductid;

    void SelectProduct(string ProductId)
    {
        selectedProductid = ProductId;
        selectedProduct = productService.GetProducts().First(p => p.Id.Equals(selectedProductid));
    }
}
