@using Microsoft.AspNetCore.Components.Web
@using asp_dotnet_getstarted.Services
@using asp_dotnet_getstarted.Models

@inject JsonProductService productService;

@code {
    int votesCount = 0;
    int votesAvg = 0;
    int votesSum = 0;
    string votesLabel = "";
}

<div class="container">
    <div class="row row-cols-4 g-2">
        @foreach (var product in productService.GetProducts())
        {
            <div class="card col" style="width: 18rem;">
                <img class="card-img-top" src="@product.Image" alt="@product.Title">
                <div class="card-body">
                    <h5 class="card-title">@product.Title</h5>


                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <button @onclick="(e => SelectProduct(product.Id))"
                            data-bs-toggle="modal"
                            data-bs-target="#productModal"
                            class="btn btn-primary">
                            Ver mais
                        </button>
                    </small>
                </div>
            </div>
        }
    </div>
</div>

@if (selectedProduct != null)
{
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-center">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="productTitle">@selectedProduct.Title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card col text-center" style="width: 18rem;">
                        <img class="card-img-top" src="@selectedProduct.Image" alt="@selectedProduct.Title">
                        <div class="card-body">
                            <h5 class="card-title">@selectedProduct.Title</h5>
                            <div class="card-body">
                                @selectedProduct.Description
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">

                    @if(votesAvg <= 0)
                    {
                        <span>Seja o primeiro a avaliar ente produto <i class="bi bi-arrow-right"></i></span>
                    }else{
                        <span>@votesCount @votesLabel</span>
                    }

                     @for(int star = 1; star <= 6; star++)
                        {

                        var CurrentStar = star;
                        @if(star <= votesAvg)
                            {
                                <i class="bi bi-star-fill" @onclick="(e => RateProduct(selectedProduct, CurrentStar))"></i>
                            }
                            else
                            {
                                <i class="bi bi-star" @onclick="(e => RateProduct(selectedProduct, CurrentStar))"></i>
                            }
                        }
                </div>
            </div>
        </div>
    </div>
}

@code {
    Product? selectedProduct;
    string? selectedProductid;

    void SelectProduct(string ProductId)
    {
        selectedProductid = ProductId;
        selectedProduct = productService.GetProducts().First(p => p.Id.Equals(selectedProductid));
        GetCurrentRatings(selectedProduct);
    }

    void GetCurrentRatings(Product product)
    {
        if(product.Ratings == null)
        {
            votesAvg = 0;
        }
        else
        {
            votesCount = product.Ratings.Count();
            votesSum = product.Ratings.Sum();
            votesAvg = product.Ratings.Sum() / product.Ratings.Count();

            votesLabel = (votesAvg <= 1) ? "Availiação" : "Avaliações";
        }
    }

    void RateProduct(Product product, int starNumber)
    {
        System.Console.WriteLine($"Você votou em {product.Title} e o valor do voto foi {starNumber}");
        productService.AddRating(product.Id, starNumber);
        SelectProduct(product.Id);
    }
}
